<html>
<meta charset="utf-8">
<title>diyelementtable demo</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<script src="./diyelementtable.umd.min.js"></script>
<link rel="stylesheet" href="./diyelementtable.css">
<style>
    .el-form-item__content .el-input {
        width: 160px;
    }

    .center {
        display: inline-block;
        width: 20px;
        text-align: center;
    }

    .slotinput {
        width: 70px !important;
        text-align: center;
    }

    .slotinput input {
        padding: 0 5px;
    }

    .el-input-group__append {
        padding: 0 10px;
    }
</style>
<body>
<div id="app">
    <el-card>
        <diy-search-form v-bind="formConfig">
            <div slot="sales" slot-scope="scope">
                <el-input v-model="scope.prop.date1" class="slotinput"></el-input>
                <span class="center" :span="2">-</span>
                <el-input v-model="scope.prop.date2" class="slotinput"></el-input>
            </div>
            <template slot="price" slot-scope="scope">
                <el-input v-model="scope.prop.price1" class="slotinput">
                    <template slot="append">元</template>
                </el-input>
                <span class="center" :span="2">-</span>
                <el-input v-model="scope.prop.price2" class="slotinput">
                    <template slot="append">元</template>
                </el-input>
            </template>
        </diy-search-form>
        <diy-table v-bind="tableConfig">
        </diy-table>
    </el-card>
</div>
</body>

<script>
  var sexs = [{label: '男', value: 'M'}, {label: '女', value: 'F'}]
  var sexProps = {label: 'label', value: 'value'}
  $(document).ready(function () {
    function GetList() {
      // 表单内置的请求
      app.$refs.tableform.inquire()
      // app.$refs.diytable.fetchList()
    }

    var app = new Vue({
      el: '#app',
      data: {
        // 表单配置
        formConfig: {},
        // table配置
        tableConfig: {}
      },
      mounted() {
        this.init()
      },
      methods: {
        init() {
          var select = [{label: '选项1', value: '1'}, {label: '选项2', value: '2'}]
          var Props = {label: 'label', value: 'value'}
          // 表单配置
          this.formConfig = {
            // 表单设置
            searchForm: [
              {type: 'Input', label: '商品名称', prop: 'name', placeholder: '请输入商品名称', option: {}, formoption: {}},
              {type: 'Select', label: '商品分组', prop: 'group', options: select, props: Props, placeholder: '请选择商品分组'},
              {type: 'Select', label: '商品类型', prop: 'type', options: select, props: Props, placeholder: '请选择商品类型'},
              {type: 'Slot', label: '销量', slot: 'sales'},
              {type: 'Slot', label: '价格', slot: 'price'},
              {type: 'Select', label: '库存扣满方式', prop: 'fun', options: select, props: Props, placeholder: '请选择库存扣满方式'}
            ],
            // 表单按钮方法设置
            searchHandle: [
              {name: '导出', click: this.derive},
              {name: '查看导出', option: {type: 'text'}, click: this.deriveLook}
            ],
            // 行内布局时按钮组是否与右侧有一个labelwidth的距离
            inlineStyle: true,
            formAttr: {
              size: 'mini',
              labelWidth: '110px',
              inline: true
            }
          }
          // table配置
          this.tableConfig = {
            ref: 'diytable',
            // 是否开启全选
            // isSelection: true,
            tableHeader: [
              {label: 'ID', prop: 'id'},
              {label: '名称', prop: 'title'},
              {label: '订单数', prop: 'order_num'},
              {label: '封面', prop: 'thumb', imgPreview: true, type: 'Image'},
              {label: '状态', prop: 'display_status_name', tableColumnAttr: {sortable: 'custom'}},
              {label: '更新时间', prop: 'inputtime_name', width: '180px', tableColumnAttr: {sortable: 'custom'}},
              {label: '类型', prop: 'group_name', type: 'Tag'},
              {
                type: 'Button',
                label: '操作',
                prop: 'materials_desc',
                tableColumnAttr: {fixed: 'right', align: 'right', width: '100px'},
                buttonGroup: [{name: '查看', click: this.look}, {name: '删除', click: this.deleltelinee}]
              },
            ],
            tableAttr: {
              size: 'small',
              style: "width: 100%"
            },
            requestConfig: {
              apiurl: 'https://admin.shidiaoquan.com/User/Matter/matterList',
              datakeys: ['data', 'items'],
              totalkeys: ['data', 'total_pages'],
              resCodes: [200, 1]
            }
          }
        },
        inquire: function () {
          console.log('tag', this, arguments)
          var that = this;
          that.$refs.diytable.fetchList()
        },
        look: function () {
          console.log('look', arguments)
        },
        deleltelinee: function () {
          console.log('deleltelinee', arguments)
        },
        derivelook: function () {
          console.log('derivelook', arguments)
        },
        derive: function () {
          console.log('derive', arguments)
        }
      }
    })
  })
</script>
</html>
